name: Deploy to Vercel on Merge

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    permissions: write-all
    runs-on: ubuntu-latest
    environment: Production

    steps:
      - uses: actions/checkout@v4

      - name: Install Bun
        run: |
          curl -fsSL https://bun.sh/install | bash
          echo "$HOME/.bun/bin" >> $GITHUB_PATH

      - name: Install shadcn
        run: bun add -g shadcn

      - name: Install Global Package with Bun
        run: bun install --global vercel@latest

      - name: Build Registry
        run: bun run build:registry

      - name: Generate Menu
        run: bun run generate:menu

      - name: Generate Preview
        run: bun run generate:preview

      - name: Build Shadcn
        run: bun run shadcn:build

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}

      - name: Build Project Artifacts
        run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}
        env:
          ANALYTICS_CLIENT_SECRET: ${{ secrets.AN_CLIENT_SECRET }}
          ANALYTICS_CLIENT_ID: ${{ secrets.AN_CLIENT_ID }}

      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --archive=tgz --token=${{ secrets.VERCEL_TOKEN }}

