name: Create vercel preview URL on pull request
on:
  pull_request:
    branches: [ main, feat, staging ]

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v4

      - name: Install Bun
        run: |
          curl -fsSL https://bun.sh/install | bash
          echo "$HOME/.bun/bin" >> $GITHUB_PATH

      - name: Install shadcn
        run: bun add -g shadcn

      - name: Install Global Package with Bun
        run: bun install --global vercel@latest

      - name: Build Registry
        run: bun run build:registry

      - name: Generate Menu
        run: bun run generate:menu

      - name: Generate Preview
        run: bun run generate:preview

      - name: Build Shadcn
        run: bun run shadcn:build

      - uses: amondnet/vercel-action@v25
        id: vercel-deploy
        with:
            vercel-token: ${{ secrets.VERCEL_TOKEN }}
            github-token: ${{ secrets.GH_TOKEN }}
            vercel-org-id: ${{ secrets.VERCEL_ORG_ID}}
            vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}}
      - name: preview-url
        run: |
          echo ${{ steps.vercel-deploy.outputs.preview-url }}
